body {
  background-color: rgb(145, 211, 241);
  margin: 0; 
  padding: 0; 
  height: 100%; 
}


.feedback_root {
  background-color: rgb(145, 211, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

  .field {
    margin-bottom: 10px; 
  }
  .paper{
    width: 600px;
  }

  
  @media (max-width: 600px) {
    .feedback_root {
      background-color: rgb(145, 211, 241);
      height: auto;
      padding: 1rem;
    }
  
    .paper {
      width: 100%; 
    }
  }
  